.categorylist {
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: 520px;
  overflow: hidden; }

.categorybox, .categorybox_odd, .categorybox_even {
  border: 2px solid lightgrey;
  border-radius: 6px;
  width: 232px;
  margin: 0px;
  padding: 0px; }

.categorybox_odd {
  float: left; }

.categorybox_even {
  margin-left: 228px; }

.categorythumb {
  margin: 0px;
  padding: 0px;
  border: 0px; }

.thumbimg {
  margin: 0px;
  padding: 1px;
  width: 72px;
  display: inline; }

.selected {
  color: lightblue; }
