* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

div.pins_columns_container {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  div.pins_columns_container:before, div.pins_columns_container:after {
    content: " ";
    display: table; }
  div.pins_columns_container:after {
    clear: both; }
  div.pins_columns_container div.column1 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    div.pins_columns_container div.column1:last-child {
      margin-right: 0; }
  div.pins_columns_container div.column2 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    div.pins_columns_container div.column2:last-child {
      margin-right: 0; }
  div.pins_columns_container div.column3 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    div.pins_columns_container div.column3:last-child {
      margin-right: 0; }
  div.pins_columns_container div.column4 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    div.pins_columns_container div.column4:last-child {
      margin-right: 0; }

.pinbox {
  padding: 6px;
  border-radius: 5px;
  box-shadow: 0px 0px 6px gray;
  margin-top: 16px; }

div.pin_image img {
  width: 100%;
  height: auto; }
