#mainPage
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background: white;
    overflow: hidden; /*display: none;*/ /*tmp*/
}

#mainForm
{
    /*display: none;*/
}


/*tmp*/

#mainPage .buttons
{
    display: none;
}

#mainPage .pinRoll
{
    width: 100%;
    overflow: hidden;
}
#firstRow, #secondRow, #thirdRow, #fourthRow
{
    width: auto;
    height: 280px;
    position: relative;
}

#mainPage .pinRollItem
{
    position: absolute;
    height: 240px; /*width: 300px;*/
    padding: 20px;
    text-align: center;
    display: block;
}
/*#mainPage .pinRollItem > a
{ min-width: 200px; overflow: hidden; display: block; margin-left: 20px; margin-right: 20px;}*/

#mainPage .pinRollItem img
{
    height: 180px;
    padding-left: 20px;
    padding-right: 20px;
}




#mainPage .info > p:first-child, #mainPage .pinRollItem hr, #mainPage .info > .faded /*, .faded:last-child */
{
    display: none;
}

#mainPage .user img
{
    width: 50px;
    height: 50px; /* margin-left: 40px;*/ /*display: none;*/
    padding: 0;
}

#mainPage .right
{
    float: none; /* text-align: left;     padding-left: 90px;*/
    padding-top: 10px;
}

#mainPage .right a:last-child
{
    color: #f8a41a;
}

#mainForm
{
    background: rgba(255,255,255,0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}


.sfTitle
{
    color: #0397d3;
    font-size: 24px;
}

.sfSubTitle
{
    font-size: 12px;
    margin-bottom: 20px;
    text-align: left;
    display: block;
    max-width: 280px;
}

#signShow p
{
    margin-top: 20px;
    font-size: 10px;
}

#signShow p:hover
{
    color: #0397d3;
}

.button:hover:not(:disabled), button:hover:not(:disabled)
{
    background-image: linear-gradient(#00aaef, #00aaef);
    background: #00aaef;
}

.button:not(:disabled), button:not(:disabled)
{
    background-image: linear-gradient(#009fe4, #009fe4);
    background: #009fe4;
    border: 1px solid #67828d;
    box-shadow: 0 1px 0 0 #67828d inset;
}


.header .nav .logo:hover
{
    background-color: #0088c1;
}

.header .nav .item:hover
{
    background-color: #0088c1;
}

.header .nav .left, .header .nav .right
{
    top: 0;
    height: 100%;
}

.header .nav .search
{
    background: none;
    border: none;
    box-shadow: none;
}

.header .nav .nav-item
{
    height: 100%;
    padding-top: 10px;
    top: -1px;
}

#mainForm .signForm
{
    position: absolute;
    background: rgba(255,255,255, 0.9);
    top: 50%;
    left: 52%; /*border: 3px solid #0088C1;*/
    border-radius: 8px;
    padding: 20px 40px;
    text-align: center;
    margin: -241px 0 0 -224px;
}

#mainForm .signForm form
{
    display: none;
}

#signShow:hover
{
    cursor: pointer;
}

.signForm table th
{
    width: 100%;
}

.signForm table th
{
    width: 35%;
}
.signForm table td
{
    width: 64%;
}


.signForm input[type="text"], .signForm input[type="password"]
{
    width: 99%;
}

.header
{
    position: relative;
    z-index: 5;
    background-color: #00aaef;
    padding: 0;
    border-top: 9px solid #009fe4;
    border-bottom: 2px solid #67828d;
}


.header .avatar
{
    height: 26px !important;
}

#switch3
{
    /*padding: 3px;     margin-top: 5px;     margin-bottom: 5px;*/ /*height: 32px;*/
    top: 0;
}
#switch3 img
{
    position: relative;
    top: -3px;
}

.header .nav .menu.left-side a:hover, .header .nav .menu.right-side a:hover, #switch1 .menu a:hover
{
    background-color: #0088C1;
    text-decoration: none;
}

#switch1 .menu a
{
    padding-left: 5px;
    padding-right: 5px;
}
#switch1 .menu a:hover
{
    color: White;
}


.header .nav .search input
{
    border: 1px solid #0077b5;
    box-shadow: 0 0 1px 1px #0092d7;
    padding: 2px 8px;
    position: relative; top: 1px;
}


.header .white-links a
{
    line-height: 40px;
    display: inline-block;
    height: 40px;
    padding-left: 5px;
    padding-right: 5px;
}

.header .white-links a:hover
{
    text-decoration: none;
    border-radius: 3px;
    background: #0088c1;
}

.header .white-links
{
    padding-top: 0px;
}


#switch1, #switch2
{
    padding-bottom: 12px;
    
}
#switch1 > i, #switch2 > i
{
    border: 1px solid #0077b5;
    box-shadow: 0 0 1px 1px #0092d7;
    padding: 5px 7px;
    font-size: 10px;
    border-radius: 4px;
    background-image: linear-gradient(#17bfff, #00a1e5);
}

.header .nav .logo
{
    color: rgba(0,0,0, 0);
    background: url('../img/header_logo.png') no-repeat;
    background-position: center -5px;
    padding: 7px;
}

.redimg a, .redimg span
{
    position: relative;
}

.redimg a:before, .redimg span:before
{
    content: url('../img/redimg.png');
    width: 20px;
    height: 20px;
    position: absolute;
    left: -25px;
    top: -3px;
}
.redimg a:hover
{
    color: #0397D3;
    text-decoration: none;
}



.header .white-links
{
    position: absolute;
    right: 0;
    z-index: 6;
    top: 0;
}

a.signupfb:hover
{
    text-decoration: none;
    background-color: #3b66a5;
}


a.signupgg:hover
{
    text-decoration: none;
    background-color: #ff5f4b;
}


.inlineB
{
    display: inline-block;
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    vertical-align: top;
}

.mcFirstRow, .mcSecondRow, .mcThirdRow
{
    display: block;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 3px;
}

.mcBlock
{
    width: 32%;
}



