body
  font: normal 80% / normal helvetica, arial, sans-serif
  margin: 0
  background-color: #eef2f6

a, .link
  color: #223344
  text-decoration: none
  cursor: pointer

a:hover, .link:hover
  text-decoration: underline

.bold
  font-weight: bold

.pad-top
  padding-top: 1em

.pad-bottom
  padding-bottom: 1em

.clearfix
  zoom: 1
  &:before
    content: ""
    display: table
  &:after
    content: ""
    display: table
    clear: both

.left
  float: left

.right
  float: right

.center
  text-align: center

h1, h2, h3, h4, h5, h6
  margin: 0 0 0.5em 0

p
  margin: 0 0 0.5em 0
  &:last-of-type
    margin-bottom: 0

h1
  font-size: 120%
  &.large
    font-size: 140%

h2
  font-size: 110%

hr
  margin: 0.75em 0
  border-style: none
  border-bottom: solid 1px #cccccc

th
  text-transform: capitalize
  text-align: right
  vertical-align: top
  padding: 4px 10px 0 0

td
  input, textarea, select
    margin-bottom: 8px

form
  padding: 20px
  background-color: white
  box-shadow: 0 0 2px #7799bb
  display: inline-block
  &.width-auto
    display: block
    width: 400px
    margin: 0 auto
  &.inner-form
    box-shadow: none
    background: none
    th
      padding-right: 10px
    td
      padding-bottom: 30px
  &.no-back
    box-shadow: none
    background: none

.settings
  width: 800px
  padding: 20px
  background-color: white
  box-shadow: 0 0 2px #7799bb
  .nav
    width: 150px
    font-weight: bold
    span, a
      display: block
      padding: 5px
      text-decoration: none
      border-radius: 4px
      color: #223344
      cursor: pointer
    span:hover, a:hover
      background-color: #223344
      color: white
  .right
    border-left: solid 1px #cccccc
    padding-left: 20px
    width: 620px

.invis
  display: none

.button, button
  border: 1px solid #090f16
  border-radius: 3px
  box-shadow: inset 0 1px 0 0 #435970
  color: white
  display: inline-block
  font-size: 11px
  font-weight: bold
  background-color: #223344
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #223344), color-stop(100%, #0d1721))
  background-image: -webkit-linear-gradient(#223344, #0d1721)
  background-image: linear-gradient(#223344, #0d1721)
  padding: 7px 18px
  text-decoration: none
  text-shadow: 0 1px 0 #030508
  background-clip: padding-box
  text-transform: capitalize
  font: inherit
  font-weight: bold
  text-decoration: none !important

.button:hover:not(:disabled), button:hover:not(:disabled)
  box-shadow: inset 0 1px 0 0 #2f4051
  cursor: pointer
  background-color: #1b2631
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1b2631), color-stop(100%, #090f16))
  background-image: -webkit-linear-gradient(#1b2631, #090f16)
  background-image: linear-gradient(#1b2631, #090f16)

.button:active:not(:disabled), button:active:not(:disabled)
  border: 1px solid #090f16
  box-shadow: inset 0 0 8px 4px #05080b, inset 0 0 8px 4px #05080b, 0 1px 1px 0 #eeeeee

.button:disabled, button:disabled
  opacity: 0.5
  cursor: not-allowed

.button.small-pad, button.small-pad
  padding: 0.3em 0.5em

input
  &[type='text'], &[type='password']
    width: 300px
    border: solid 1px #888888
    padding: 4px
    font: inherit
    background-color: white
    box-shadow: 0 1px 0px #aaaaaa

textarea, .input
  width: 300px
  border: solid 1px #888888
  padding: 4px
  font: inherit
  background-color: white
  box-shadow: 0 1px 0px #aaaaaa

.with-newlines
  white-space: pre-wrap

.red
  color: maroon

.faded
  color: #888888

.small
  font-size: 90%
  line-height: 1.15em

.header
  text-align: center
  padding: 1em
  border-bottom: solid 1px #aaaaaa
  background-color: #223344
  color: white
  .white-links a
    color: white
    margin: 0 0.5em
  .nav
    font-weight: bold
    font-size: 100%
    width: 90%
    margin: 0 auto
    padding: 0.5em 0
    text-align: center
    position: relative
    .left
      position: absolute
      top: 5px
      left: 0px
    .right
      position: absolute
      top: 0px
      right: 0px
    .nav-item
      display: inline-block
      position: relative
      &.profile-picture
        position: relative
        top: -5px
    .search
      padding: 4px
      margin-left: 10px
      width: 295px
      background-color: white
      border-radius: 4px
      text-decoration: none
      input
        background: none
        text-decoration: none
        border-style: none
        outline: none
        resize: none
        width: 100%
        padding: 0
        box-shadow: none
        margin: 0
    .avatar!
    .item
      cursor: pointer
      padding: 6.66667px
      border-radius: 2px
      &:hover
        background-color: #446688
    .menu
      text-align: left
      position: absolute
      top: 100%
      width: 500px
      z-index: 230847023
      background-color: white
      border: solid 1px #aabbcc
      padding: 10px
      left: 0
      &.add-to-getlist
        width: 200px
      &.right-side
        left: auto
        right: 0
        width: 200px
      &.left-side a, &.right-side a
        display: block
        padding: 0.3em
        border-radius: 3px
        font-weight: bold
        text-decoration: none
      &.left-side a:hover, &.right-side a:hover
        background-color: #223344
        color: white
      img.avatar
        line-height: 1em
        display: inline-block
        max-width: 80px
        border: solid 1px #334455
    i.fa
      font-size: 120%
    .logo
      font-size: 180%
      font-weight: bold
      color: white
      padding: 0.4em 0.7em
      &:hover
        text-decoration: none
        background-color: #446688
        border-radius: 4px

.content
  width: 1100px
  margin: 20px auto
  .pins
    padding: 10px 0 10px 10px
    .pin
      background-color: white
      display: block
      width: 202px
      margin-bottom: 20px
      box-shadow: 0 0 5px #446688
      &.horz-pin
        width: 400px
        .info
          padding: 20px
      &.horz-pin2
        width: 1050px
        padding: 25px 10px
        background: none
        box-shadow: none
        border-style: none
        border-bottom: solid 1px rgba(0, 0, 0, 0.2)
        margin-bottom: 0
        .count
          width: 40px
          height: 40px
          line-height: 40px
          font-weight: bold
          text-align: center
          background-color: #223344
          margin: 20px 30px 0 0
          color: white
          border-radius: 999px
        .avatar
          width: 202px
          min-height: 1px
          img
            width: 100%
            border-radius: 4px
        .info
          width: 500px
          margin-left: 10px
        .buttons
          display: block
          left: auto
          top: 10px
          right: 10px
          width: 150px
          button, .button
            display: block
            margin-bottom: 4px
            text-align: center
      img
        width: 100%
        display: block
      .info
        padding: 10px
        .user
          .left
            width: 40px
            border: solid 1px #888888
            height: 40px
          .right
            width: 130px
      .buttons
        display: none
        position: absolute
        left: 10px
        top: 10px
      &:hover .buttons
        display: inline-block
  .pin-display
    text-align: center
    a
      font-weight: bold
    img
      max-width: 100%
      margin-top: 20px
      background-color: white
      box-shadow: 0 0 8px #557faa
      padding: 20px
    .comments
      margin: 20px auto
      width: 455px
      text-align: left
      .links
        color: #888888
        a, .link
          font-weight: bold
          color: #223344
        label
          color: #223344
          font-weight: bold
          cursor: pointer
          &:hover
            text-decoration: underline
      .comment
        padding: 15px 0
        border-bottom: solid 1px #bbbbcc
        &:last-of-type
          border-bottom-style: none
      form
        width: 415px
        padding: 0
        background: none
        border-style: none
        box-shadow: none
        textarea
          width: 455px

.new-message
  width: 500px
  .textarea
    border: solid 1px #888888
    height: 100px
    padding: 0.5em
    textarea
      width: 100%
      height: 100%
      border-style: none
      padding: 0
      box-shadow: none
      background: none
      outline: none
      resize: none

.preview img
  max-height: 300px
  margin: 5px
  &.selected
    border: solid 4px maroon

#ratings
  margin-right: 10px
  .rating
    margin-left: 3px
    color: #888888
    cursor: pointer
    &.selected
      color: #223344

.backnext
  text-align: center
  font-weight: bold
  font-size: 120%

.notifs
  width: 455px
  a
    text-decoration: none
    font-weight: bold
    padding: 5px
    margin-left: -5px
    border-radius: 5px
    cursor: pointer
    display: block
    &:hover
      background-color: #223344
      color: white
      b
        color: white
    &.ping
      display: inline-block
      &:hover
        background: none
        text-decoration: underline
        color: #223344
    b
      color: #223344

.notif-count
  padding: 1px 3px !important
  margin-top: -30px !important
  border-radius: 3px
  font-weight: bold
  color: white
  background-color: #aa2222

.album
  width: 1000px
  padding: 10px
  margin-top: 10px
  background-color: #e2e2f2
  border: solid 1px #112233
  a.photo
    width: 188px
    margin: 5px
    background-color: #223344
    border: solid 1px #112233
    img
      max-width: 100%
      max-height: 100%

.user-heading
  padding: 20px
  cursor: pointer
  display: block
  border-radius: 3px
  .back
    background-color: rgba(255, 255, 255, 0.8)
    padding: 10px 20px 10px 10px
    border-radius: 4px
    cursor: default
    display: inline-block
  img.avatar
    max-width: 80px
    margin-right: 10px
    border: solid 1px #334455
  .faded b
    color: #3c5977
    &:after
      content: " \00B7 "
    &:last-of-type:after
      content: ""
  .right
    text-align: right
    .button
      margin-bottom: 5px

.user-grid .user
  width: 250px
  margin: 8px
  img.left
    max-height: 78px
    max-width: 78px
    margin-right: 10px
    border: solid 1px #888888
  b.left
    width: 160px

.pick-people
  width: 870px
  margin: 0 auto
  .user
    width: 260px
    padding: 10px
    background-color: white
    border: solid 1px #888888
    margin: 5px
    text-align: left
    border-radius: 4px
    height: 80px
    img.left
      max-height: 80px
      max-width: 80px
      margin-right: 10px
    b.left
      width: 150px
    &.selected
      background-color: #223344
      border-color: #223344
      color: white
      a
        color: white

.invisform
  position: absolute
  top: -9999px

#lolbg
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.signup-helper
  width: 900px
  margin: 20px auto
  .signup-helper-nav
    width: 200px
    padding: 20px
    background-color: #d3dde3
    border-radius: 5px
    color: #556677
    h1
      font-size: 110%
    hr
      border-color: #c6ced6
  .signup-helper-content
    width: 640px
    padding-left: 20px

.first-time
  width: 1060px
  padding: 20px
  margin: 40px auto
  background-color: rgba(255, 255, 255, 0.75)
  box-shadow: 0 0 15px #446688
  font-size: 130%
  color: #223344
  text-align: center

.notice
  text-align: center
  color: #ddeeff
  background-color: #446688
  border-radius: 4px
  padding: 10px
  margin-bottom: 20px
  a
    text-decoration: underline
    color: white
    font-weight: bold

.category-disp
  .horz-pins
    width: 854px
    padding-right: 10px
  .categories
    padding-left: 10px
    width: 210px
    h1
      margin-left: 0.4em
    a
      font-weight: bold
      display: block
      padding: 0.5em
      border-radius: 4px
      &:hover
        background-color: #223344
        color: white
        text-decoration: none

.user_pic_placeholder
  background-repeat: no-repeat
  width: 80px
  height: 40px
  &.avatar
    background-repeat: no-repeat
    background-size: auto 40px

#user_pic_placeholder
  background-repeat: no-repeat
  width: 44px
  height: 44px
  float: left
  cursor: pointer
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

#user_pic_placeholder_wrapper
  background-repeat: no-repeat
  width: 100px
  height: 100px
  float: left

.edit_thumbnail_menu
  text-align: left
  position: absolute
  width: 300px
  z-index: 230847023
  background-color: white
  border: solid 1px #aabbcc
  padding: 10px
  margin-top: 1px
  display: none
  a
    display: block
    padding: 0.3em
    border-radius: 3px
    font-weight: bold
    text-decoration: none
    &:hover
      text-decoration: underline

.next_carousel_btn
  margin-top: 30%
  right: -60px !important
  width: 20px !important
  height: 30px
  background: #333842
  padding: 5px

.prev_carousel_btn
  margin-top: 30%
  left: -60px !important
  width: 20px !important
  height: 30px
  background: #333842
  padding: 5px

#set_as_profile_pic
  color: red
  margin-right: 30px

#uploadimageform
  padding: none !important
  background-color: transparent !important
  box-shadow: none
  display: block !important

.nav-icons
  top: -15px
  img
    height: 30px
    &:hover
      -webkit-transition: width 2s
      /* For Safari 3.1 to 6.0
      transition: width 2s
      background-color: #fff

#profile-about-box
  margin-top: 10px

.modal-form
  padding: 0
  box-shadow: none
  display: block
  
.error_text
  font-size: 80%
  font-weight: bold
  color: red