.progress { position:relative; width:400px; border: 1px solid #ddd; padding: 1px; border-radius: 3px; }
.bar { background-color: #B4F5B4; width:0%; height:20px; border-radius: 3px; }
.percent { position:absolute; display:inline-block; top:3px; left:48%; }
.comments {
    border-width: 1px 0 0;
    box-shadow: none;
    clear: both;
    display: block;
    height: 95px;
    padding: 18px;
    resize: none;
    width: 95%;
}

.c1
{
   width: 35%;vertical-align:top;display:inline-block;
}
.c2
{
   width:60%; margin-left:-4px;display:inline-block;
}

.photo{
    width:180px;
    height:180px;
    vertical-align:middle;
}

.img-width {
    width: 100%;
    height: auto;
}

.img-height {
    width: auto;
    height: 100%;
}

.loadimg{
    vertical-align:middle;
}

/* ----- Images web search ----- */
#search_results {
    display: table;
}

#search_results > div {
    display: table-row;
}

#search_results > div > div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 1mm;
}

#search_results > div > div:hover {
    border-color: #000000;
}

#search_results img {
    max-width: 200px;
    padding: 1mm 0;
}

#more_results {
    display: block;
    margin: 2mm auto;
}