$def with (category, categories, subcategories, boards)
$if category.id == 0:
  <h1>Browsing <a href=''>Random Pins</a></h1>
$else:
  <h1>Browsing Category <a href=''>$category.name</a></h1>
  $if subcategories:
  	<div class="subcategory_block">
  	$for subcat in subcategories:
  		<a href="/category/$subcat.name/$subcat.id">$subcat.name</a>
  		$if not loop.last:
  			<span class="subcategory_spacer">&nbsp;</span>
  	</div>
<hr>
<table class="categori_table">
	<tr>
		<td class="category_column" id="category_column_1"></td>
		<td class="column_separator"></td>
		<td class="category_column" id="category_column_2"></td>
		<td class="column_separator"></td>
		<td class="category_column" id="category_column_3"></td>
		<td class="column_separator"></td>
		<td class="category_column" id="category_column_4"></td>
		<td class="column_separator"></td>
		<td class="category_column" id="category_column_5"></td>
	</tr>
</table>
<div id="scroll_control"></div>
<div class='clearfix category-disp'>
  <div class='left horz-pins'>
   </div>
  
 
</div>

      <div class="modal fade" id="addToGetListModal">
            <div class="modal-dialog">
              <div class="modal-content">
              <form action="/add-to-your-own-getlist/$category.id" class='modal-form' id="repin-form" method='post' autocomplete='off'>
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h1 class='center pad-bottom'>Adding <a href='#' id="repin-description"></a> to your Getlist</h1>
                </div>
                <div class="modal-body">

                  <table>
    <tbody><tr><th><label for="description">description</label></th><td>
    <textarea id="description" name="description">
      
    </textarea></td></tr>
    <tr><th><label for="board">Get list</label></th><td>
<div id="board_selection_layer">
    <select id="board" name="board" class="category-list">
    <option value="">Select one</option>
  $for board in boards:
    <option value="$board.id">$board.name</option>
</select><button type="button" id="button_add_board" title="Add another list">+</button>
</div>
<div id="board_creation_layer" style="display:none;">
	<input type="text" name="board_name" id="board_name" value="">
	<button type="button" id="button_select_board" title="Select existing list">-</button>
</div>
</td></tr>
    <tr><th><label for="tags">tags (optional)</label></th><td><input type="text" placeholder="#this #is #awesome" id="tags" name="tags"></td></tr>
</tbody>
</table>

<h2 class="center">Image Preview</h2>
<div class="pin-display">
  <img id="repin-image" src="" alt="">
</div>



                </div>


                <div class="modal-footer">
                <button id="add to getlist" name="add to getlist" type="submit">add to getlist</button>
              </div>

              </form>
              </div><!-- /.modal-content -->
              
            </div><!-- /.modal-dialog -->
        
        </div>
<script type="text/html" id="pin_template">
<div class="category_pin">
	<div class="category_pin_image">
		<a href="/pin/<%= id %>"><img src="/static/tmp/pinthumb_212_<%= id %>.png"></a>
	</div>
	<% if (name !== '') { %>
		<div class="category_pin_title"><%= name %></div>
	<% }
	   if (description !== '') { %>
	<div class="category_pin_description"><%= description %></div>
	<% }
	   if (tags !== null) { %>
	<div class="category_pin_tags">
		<% for (i = 0; i < taglist.length ; i++) { %>
			<a href="/search/items?q=<%= taglist[i] %>">#<%= taglist[i] %></a>
		<% } %>
	</div>
	<% } %>
	<div class="category_pin_likes">
		<i class="fa fa-thumbs-up"></i> <%= like_count %>
		&nbsp;&nbsp;
		<i class="fa fa-thumb-tack"></i> <%= repin_count %>
	</div>
	<% if (link !== '') { %>
	<div class="category_pin_source_url">
		<div class="pinned_from">pinned from</div>
		<div class="pinned_link"><a href="<%= link %>"><%= simplifiedurl %></a></div>
	</div>
	<% } %>
</div>
</script>
<script type="text/javascript" src="/static/category.js"></script>
<script type="text/javascript" src="/static/js/underscore-min.js"></script>