<div id="show_pin_layer">
	<div id="show_pin_layer_content"></div>
</div>
<script type="text/html" id="pin_template">
<div class="category_pin">
    <div class='category_pins_buttons'>
      <a id="repinlink" onclick=repin_image_load(this) data-category="<%= category %>" data-description="<%= description %>" href='#' data-toggle="modal" data-target="#addToGetListModal"
      <% if (repin == 0) { %>
        data-id="<%= id %>"
      <% } else { %>
        data-id="<%= repin %>"
	  <% } %> 
      class='repinlink button small-pad'>Add to Your Getlist</a>
      <a href='/share/<%= id %>' class='button small-pad'><i class='fa fa-share-square'></i></a>
      <% if (link !== null) { %>
        <a class='button small-pad' rel='nofollow' href='<%= link %>'><i class='fa fa-external-link-square'></i></a>
	  <% } %>
    </div>
	<div class="category_pin_image" pinid="<%= id %>">
		<img src="/static/tmp/pinthumb_212_<%= id %>.png">
	</div>
	<% if (name !== '') { %>
		<div class="category_pin_title"><%= name %></div>
	<% }
	   if (description !== '') { %>
	<div class="category_pin_description"><%= description %></div>
	<% }
	   if (tags !== null) { %>
	<div class="category_pin_tags">
		<% for (i = 0; i < taglist.length ; i++) { %>
			<a href="/search/items?q=<%= taglist[i] %>">#<%= taglist[i] %></a>
		<% } %>
	</div>
	<% } %>
	<div class="category_pin_likes">
		<i class="fa fa-thumbs-up"></i> <%= like_count %>
		&nbsp;&nbsp;
		<i class="fa fa-thumb-tack"></i> <%= repin_count %>
	</div>
	<% if (link !== null) { %>
	<div class="category_pin_source_url">
		<div class="pinned_from">pinned from</div>
		<div class="pinned_link"><a href="<%= link %>"><%= simplifiedurl %></a></div>
	</div>
	<% } %>
</div>
</script>