$def with (form, result_info, categories, number_of_items_added, preselected_categories)
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/pin_loader.css" />
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script src="/static/js/underscore-min.js"></script>
<script src="/static/js/pin_loader.js"></script>
<div id="tabs">
  <ul>
    <li><a href="#upload"><span>Upload Items</span></a></li>
    <li><a href="#added"><span>Items Added</span></a></li>
  </ul>
<div id="upload">
	<form id='form' autocomplete='off' enctype='multipart/form-data' method='post' action=''>
			$if result_info != None:
				<div class="notice">
					<p><h2>Review your added item in the 'Items Added' tab</h2></p>
				$for ri in result_info:
					$if ri['error']:
						<p><blockquote><div class="red">There are errors in you upload, please review the 'Items Added' tab</div></blockquote></p>
				</div>
		<p>All the items you upload will belong to the same category, so carefully select the category.</p>
		<p>You must provide, for each pin you upload: Title, Description, URL from where to buy this item, Link to the original source, Tags (#rolex #coolstuff) and an image via URL or upload.</p>
		<p>Price is optional, only numbers and decimal point</p>
		<p>For the image you can put the URL or upload the image, don't use both.</p>
		<p>You can upload up to 10 images at a time, using the fields below. You can view the results in the 'Items Added' tab.</p>
		<div style="margin-top: 10px"></div>
		<h1>Categories for these Pins: </h1>
		<table>
			<tr style="font-size:80%">
			$for category_column in categories:
				<td width="25%" class="category_selection_td">
				$for category in category_column:
					<label><input type="checkbox" name='category_check' value="$category['id']"
					$if category['id'] in preselected_categories:
						checked
					>$category['name']</label>
					$if category['subcategories']:
						$for subcat in category['subcategories']:
							<div class="subcategory_checkbox"><label><input type="checkbox" name='category_check' value="$subcat['id']"
							$if subcat['id'] in preselected_categories:
								checked
							>$subcat['name']</label></div>
					$else:
						<br/>
				</td>
			</tr>
		</table>
		$:form['upload'].render()
		<div id="category_error_message" class="red hide">You must select a category</div>
		<input type="hidden" value="" name="categories">
		<table style="font-size:80%">
		$for i in range(1, 11, 2):
			<tr>
				<td style="padding-right:20px">
					<table style="box-shadow:0px 0px 10px gray">
						<tr>
							<th><label for="imageurl$i">Image URL</label></th>
							<td>$:form['imageurl{}'.format(i)].render()</td>
						</tr>
						<tr>
							<th><label for="image$i">Image File</label></th>
							<td>$:form['image{}'.format(i)].render()</td>
						</tr>
						<tr>
							<th><label for="link$i">Original Source URL</label></th>
							<td>$:form['link{}'.format(i)].render()</td>
						</tr>
						<tr>
							<th><label for="title$i">Title</label></th>
							<td>$:form['title{}'.format(i)].render()</td>
						</tr>
						<tr>
							<th><label for="description$i">Description (optional)</label></th>
							<td>$:form['description{}'.format(i)].render()</td>
						</tr>
						<tr>
							<th><label for="product_url$i">Product URL</label></th>
							<td>$:form['product_url{}'.format(i)].render()</td>
						</tr>
						<tr>
							<th><label for="tags$i">#Tags</label></th>
							<td>$:form['tags{}'.format(i)].render()</td>
						</tr>
						<tr>
							<th><label for="price$i">Price (optional)</label></th>
							<td>$:form['price{}'.format(i)].render()</td>
						</tr>
						<tr>
							<th>Price Category</th>
							<td>
								<label><input type="radio" name="price_range$i" value="1"> $$</label>
								<label><input type="radio" name="price_range$i" value="2"> $$$$</label>
								<label><input type="radio" name="price_range$i" value="3"> $$$$$$</label>
								<label><input type="radio" name="price_range$i" value="4"> $$$$$$$$</label>
								<label><input type="radio" name="price_range$i" value="5"> $$$$$$$$+</label>
								<div id="price_range$i"></div>
							</td>
						</tr>
					</table>
				</td>
				$ j = i + 1
				<td>
					<table style="box-shadow:0px 0px 10px gray">
						<tr>
							<th><label for="imageurl$j">Image URL</label></th>
							<td>$:form['imageurl{}'.format(j)].render()</td>
						</tr>
						<tr>
							<th><label for="image$j">Image File</label></th>
							<td>$:form['image{}'.format(j)].render()</td>
						</tr>
						<tr>
							<th><label for="link$j">Original Source URL</label></th>
							<td>$:form['link{}'.format(j)].render()</td>
						</tr>
						<tr>
							<th><label for="title$j">Title</label></th>
							<td>$:form['title{}'.format(j)].render()</td>
						</tr>
						<tr>
							<th><label for="description$j">Description (optional)</label></th>
							<td>$:form['description{}'.format(j)].render()</td>
						</tr>
						<tr>
							<th><label for="product_url$j">Product URL</label></th>
							<td>$:form['product_url{}'.format(j)].render()</td>
						</tr>
						<tr>
							<th><label for="tags$j">#Tags</label></th>
							<td>$:form['tags{}'.format(j)].render()</td>
						</tr>
						<tr>
							<th><label for="price$j">Price (optional)</label></th>
							<td>$:form['price{}'.format(j)].render()</td>
						</tr>
						<tr>
							<th>Price Category</th>
							<td>
								<label><input type="radio" name="price_range$j" value="1"> $$</label>
								<label><input type="radio" name="price_range$j" value="2"> $$$$</label>
								<label><input type="radio" name="price_range$j" value="3"> $$$$$$</label>
								<label><input type="radio" name="price_range$j" value="4"> $$$$$$$$</label>
								<label><input type="radio" name="price_range$j" value="5"> $$$$$$$$+</label>
								<div id="price_range$j"></div>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		$:form['upload'].render()
	</form>
</div><!-- upload -->
<div id="added">
	<div>$number_of_items_added items added by you.</div>
	$if result_info:
		<table border="1" cellpadding="30">
			$for ri in result_info:
				<tr>
					<td>
					$if ri['error']:
						<table>
							<tr>
								<th>[$ri['index']] Failed:</th><td>$ri['error']</td>
							</tr><tr>
								<th>Title:</th><td>$ri.get('title', '')</td>
							</tr><tr>
								<th>Description:</th><td>$ri.get('description', '')</td>
							</tr><tr>
								$if ri.get('imageurl', False):
									<th>Tried this Image URL:</th><td><a href="$ri['imageurl']">$ri['imageurl']</a></td>
								$elif ri.get('image', False):
									<th>Tried this Image uploaded by you:</th><td>$ri.get('image', '')</td>
								$else:
									<th></th><td><strong>You did not provided an image!</strong></th>
							</tr><tr>
								<th>Product URL:</th><td><a href="$ri.get('product_url')">$ri.get('product_url', '')</a></td>
							</tr><tr>
								<th>Source URL:</th><td><a href="$ri.get('link')">$ri.get('link', '')</a></td>
							</tr><tr>
								<th>Tags:</th><td>$ri.get('tags', '')</td>
							</tr>
						</table>
					</td>
				</tr>
		</table>
	<div class="pins_columns_container">
		<div class="column1"></div>
		<div class="column2"></div>
		<div class="column3"></div>
		<div class="column4"></div>
	</div>
	<div id="scroll_mark"></div>
	<div id="pin_edit_dialog" title="Edit pin">
		<form id="pin_edit_form" action="/admin/input/update_pin/" method="POST" enctype="multipart/form-data" autocomplete="off">
			<table style="box-shadow:0px 0px 10px gray;font-size:80%;">
				<tr>
					<td colspan="2"><center><a id="imgfulllink11" href="" target="_blank" title="See full size"><img id="imgtag11" src=""/></a></center></td>
				</tr>
				<tr>
					<th><label for="category11">Category</label></th>
					<td>
					<div style="width: 100%; height: 200px; overflow:auto;">
					$for category_column in categories:
						$for category in category_column:
							<label><input type="checkbox" name='category_check11' value="$category['id']">$category['name']</label>
							$if category['subcategories']:
								$for subcat in category['subcategories']:
									<div class="subcategory_checkbox"><label><input type="checkbox" name='category_check11' value="$subcat['id']">$subcat['name']</label></div>
							$else:
								<br>
					</div>
					<div id="category_error_message11" class="red hide">You must select a category</div>
					</td>
				</tr>
				<tr>
					<th><label for="imageurl11">Image</label></th>
					<td><a id="previmageurl11" target="_blank" href="">Full size Image</a></td>
				</tr>
				<tr>
					<th><label for="imageurl11">Image URL</label></th>
					<td><input i="11" type="text" class="imagelink" name="imageurl11" id="imageurl11"/></td>
				</tr>
				<tr>
					<th><label for="image11">Image File</label></th>
					<td><input i="11" type="file" class="imagefile" name="image11" id="image11"/></td>
				</tr>
				<tr>
					<th><label for="link11">Source URL</label></th>
					<td><input i="11" type="text" class="urllink" name="link11" id="link11" placeholder="The original source for this image"/></td>
				</tr>
				<tr>
					<th><label for="title11">Title</label></th>
					<td><input i="11" type="text" class="titleentry" name="title11" id="title11"/></td>
				</tr>
				<tr>
					<th><label for="description11">Description (optional)</label></th>
					<td><textarea i="11" class="descrentry" name="description11" id="description11"></textarea></td>
				</tr>
				<tr>
					<th><label for="product_url11">Product URL</label></th>
					<td><input i="11" type="text" class="urlproduct_url" name="product_url11" id="product_url11" placeholder="Where can you buy this item? www.rolex.com"/></td>
				</tr>
				<tr>
					<th><label for="tags11">#Tags</label></th>
					<td><input name="tags11" i="11" placeholder="#this #is #awesome" id="tags11" type="text" class="tagwords"/></td>
				</tr>
				<tr>
					<th><label for="price11">Price (optional)</label></th>
					<td><input name="price11" i="11" placeholder="$$888.00" id="price11" type="text" class="prodprice"/></td>
				</tr>
				<tr>
					<th>Price Category</th>
					<td>
						<label><input type="radio" name="price_range11" value="1"> $$</label>
						<label><input type="radio" name="price_range11" value="2"> $$$$</label>
						<label><input type="radio" name="price_range11" value="3"> $$$$$$</label>
						<label><input type="radio" name="price_range11" value="4"> $$$$$$$$</label>
						<label><input type="radio" name="price_range11" value="5"> $$$$$$$$+</label>
						<div id="price_range11"></div>
					</td>
				</tr>
				<tr>
					<th></th>
					<td><button id="btn-save" name="save">Save</button></td>
				</tr>
			</table>
			<input i="11" type="hidden" name="id11" id="id11"/>
			<input type="hidden" name="categories11" id="categories11" value="">
		</form>
	</div><!-- pin_edit_dialog -->
	<div><button id="load_more_button">Load more</button></div>
</div><!-- added -->
</div><!-- tabs -->
<script type="text/html" id="pin_template">
<div class="pin_image">
	<a href="/p/<%= external_id %>" target="_blank" title="See full size">
		<img src="<%= image_202_url %>?_=<%= new Date().getTime() %>">
	</a>
</div>
<table>
	<tr><th>Categories</th><td><%= categories_list %></td></tr>
	<tr><th>Title</th><td><%= name %></td></tr>
<% if (description !== null && description !== '') { %>
	<tr><th>Descr.</th><td><%= description %></td></tr>
<% } %>
<% if (product_url !== null && product_url !== '') { %>
	<tr><th>Product Link</th><td><a href="<%= product_url %>" title="<%= product_url %>">
			<%= separate_product %>
		</a></td></tr>
<% } %>
<% if (link !== null && link !== '') { %>
	<tr><th>Source Link</th><td><a href="<%= link %>" title="<%= link %>">
			<%= separate_link %>
		</a></td></tr>
<% } %>
	<tr><th>Tags</th><td><%= tags %></td></tr>
		
<% if (price !== 'None') { %>
	<tr><th>Price</th><td>$$<%= price %></td></tr>
<% } %>
	<tr><th>Price Range</th><td><%= price_range_repr %></td></tr>
	<tr><td colspan="2"><button class="button_pin_edit" pinid="<%= id %>">Edit</button>
		<button class="button_pin_delete" pinid="<%= id %>">Delete</button></td></tr>
</table>
</script>