$def with (pins, template=None, options=None, edit_profile=None,boards=None,categories_to_select=None)

$ options = options or {}
$ template = template or 'onepin'
$ pins = list(pins)

$if edit_profile:
    <div id='pin-box-wrapper' class='tab-pane fade'>
$else:
    <div id='pin-box-wrapper' class='tab-pane fade active in'>
<div class="greyLine">
    <a class="add_getlist_link" href="#">
        <img src="/static/img/redCr.png" />
    </a>
    
    <input type="text" name="url" id="url" placeholder="http://">
    <a class="button" id="fetch-images" href="javascript:void(0);">Post</a>

<!--     <div class="dropdown profDrop">
        <a data-toggle="dropdown" href="#"><span class="flaticon-lock27"></span>Only me <i
            class="flaticon-arrow486"></i></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><span class="flaticon-lock27"></span>Only me</li>
            <li>All</li>
        </ul>
    </div> -->
</div>
<div id='pin-box' class='pins'></div>
<div class="inContentiySmoktunovskiy">
    <div class='' id='pin-buf'>
        $ i = 0
        $ last_date = None
        $for pin in pins:
            $ i += 1
            $ current_date = tpllib.get_dict_timestamp(pin.timestamp)
            $if last_date is None or current_date['day'] != last_date['day'] or current_date['month'] != last_date['month'] or current_date['year'] != last_date['year']:
                $if last_date is not None:
                    </div>
                    </div>
                $ last_date = current_date
                <div class="dateWrap">
                    <div class="dwDate">
                        <p>$last_date['day'] <span>$last_date['month']</span></p>
                    </div>
                    <div class="dwContent">
            $if not pin.repin:
                $:tpl('editaddedpinmodal', pin,categories_to_select, boards)
            $:tpl(template, pin)
        </div>
        </div>

    </div>
</div>

    $if not [x for x in pins if x.id]:
      <center>No pins to see here!</center>
      <center><br><a class='button' href='/browse'>Browse pins by category</a></center>
    $else:
      <div class='backnext'><button id='button-more'>More Items</button></div>



$:tpl('pin212px_template')

<link rel="stylesheet" href="/static/css/pin_loader.css" />
<script type='text/javascript' src='/static/addpin.js'></script>
<!-- <script type='text/javascript' src='/static/js/underscore-min.js'></script> -->
<script type='text/javascript' src='/static/masonry.pkgd.min.js'></script>
<script type='text/javascript' src='/static/imagesloaded.pkgd.min.js'></script>
<!--<script type='text/javascript' src='/static/infinite.js'></script>-->
<script type="text/html" id="pin_template">
            <td>
                <%= categories_list %>
            </td>
            <td>
                <a href="/p/<%= external_id %>">
                    <img src="<%= image_202_url %>?_=<%= new Date().getTime() %>" style="width:40px;height:auto;">
                </a>
            </td>
            <td><%= name %></td>
            <td><%= description %></td>
            <td>
                <a href="<%= link %>" title="<%= link %>">
                    <%= separate_link %>
                </a>
            </td>
            <td>
                <a href="<%= product_url %>" title="<%= product_url %>">
                    <%= separate_product %>
                </a>
            </td>
            <td>
                <% _.each(tags, function(tag) { %>
                    #<%= tag %><br>
                <% }); %>
            </td>
            <td><%= price %></td>
            <td><%= price_range_repr %></td>
            <td>
                <button class="button_pin_edit" pinid="<%= id %>">e</button>
                <button class="button_pin_delete" pinid="<%= id %>">x</button>
            </td>
</script>
</div>
